#root {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  text-align: center;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}

.logo {
  height: 6em;
  padding: 1.5em;
  animation: fadeOut, opacity 0.2;
  animation-delay: 2s;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
